@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="d-flex flex-column align-items-start">
    <h1 class="mb-2">Manage your account</h1>
    <hr/>
    <div class="d-flex flex-row flex-grow-1">
        <hr/>
        <partial name="_ManageNav"/>

        <div class="d-flex ms-4 flex-grow-1">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}