@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Scripts/Plots/plots.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "Transactions/GetTransactionsData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultBalance,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetExpenses",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultExpenses,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetIncome",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultIncome,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetTransactionsByCategory",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultCategory,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetTransactionsPreview",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessTransactionsPreview,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Budget/GetBudgetPlansPreview",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessBudgetPlansPreview,
            error: OnError
        });
    })
</script>

<div class="w-100 bg-secondary p-4 rounded">
    <div class="row">
        <div class="w-50">
            <canvas id="balanceChart"></canvas>
        </div>

        <div class="w-50">
            <canvas id="expensesChart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="w-50">
            <canvas id="incomeChart"></canvas>
        </div>

        <div class="w-50">
            <canvas id="categoryChart"></canvas>
        </div>
    </div>

    <table id="transactionsTable" class="table">
    </table>


    <table id="budgetPlansTable" class="table">
    </table>
</div>