@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "http://localhost:32768/Transactions/GetTransactionsData", // Make sure the URL is correct
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResult,
            error: OnError
        });

        function OnSuccessResult(data) {
            var dates = data.dates;
            var counts = data.counts;

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Transactions per Date',
                        data: counts,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: true
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'll',
                                displayFormats: {
                                    day: 'MMM d'
                                }
                            }
                        },
                        y: {
                            beginAtZero: false,
                            stepSize: 1
                        }
                    }
                }
            });
        }

        function OnError(data) {
            console.error('Error fetching data: ', data);
        }
    });
</script>



<div class="w-100 bg-secondary p-4 rounded">
    
    <div class="d-flex flex-grow-1 w-25 border-1 border-danger">
        <canvas id="myChart"></canvas>
    </div>

    <table class="d-flex flex-grow-1 table">
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <td colspan="2">Larry the Bird</td>
        </tr>
        </tbody>
    </table>
</div>