@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PersonalFinanceTracker.Areas.Identity.Data

@inject UserManager<SampleUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "Transactions/GetTransactionsData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessTransactions,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetIncomeByCategory",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultIncomeCategory,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetExpensesByCategory",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResultExpensesCategory,
            error: OnError
        });
        $.ajax({
            type: "GET",
            url: "Transactions/GetMonthlyBalance", 
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#balanceAmount").text(data.balance);
                $("#incomeAmount").text(data.income);
                $("#expensesAmount").text(data.expenses);
                $("#savingsAmount").text(data.savings);
            },
            error: OnError
        });

        $(document).ready(function () {
            var currentDate = new Date();
            var currentMonthIndex = currentDate.getMonth();
            var monthNames = [
                "January", "February", "March", "April",
                "May", "June", "July", "August",
                "September", "October", "November", "December"
            ];
            var currentMonthName = monthNames[currentMonthIndex];
            $("#currentMonth").text(currentMonthName);
        })
    })
</script>

<div class="w-100">
    <div class="d-flex flex-row flex-grow-1">
        <div class="d-flex flex-column w-25">
            <div>
                <h3>Hello @UserManager.GetUserName(User)</h3>
            </div>
            <div class="bg-secondary p-4 rounded-2 my-2">
                <h3 class="fw-bold" id="currentMonth"></h3>
            </div>

            <div class="bg-secondary p-4 rounded-2 my-2">
                <h4>Balance</h4>
                <h3 class="fw-bold" id="balanceAmount"></h3>
            </div>
            <div class="bg-secondary p-4 rounded-2 my-2">
                <h4>Income</h4>
                <h3 class="fw-bold" id="incomeAmount"></h3>
            </div>
            <div class="bg-secondary p-4 rounded-2 my-2 fw-bold">
                <h4>Expenses</h4>
                <h3 class="fw-bold" id="expensesAmount"></h3>
            </div>
        </div>

        <div class="d-flex flex-row w-75">
            <canvas id="transactionsChart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Expenses</h4>
            <div>
                <canvas id="expensesCategoryChart"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Income</h4>
            <div>
                <canvas id="incomeCategoryChart"></canvas>
            </div>
        </div>
    </div>
</div>