@model PersonalFinanceTracker.ViewModels.TransactionCreateViewModel

@{
    ViewData["Title"] = "Create";
    var categories = Model.Categories;
    var types = Model.Types;
}


<div class="d-flex flex-column align-items-start">
    <h1>Create</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* <div class="form-group"> *@
        @*     <label asp-for="Id" class="control-label"></label> *@
        @*     <input asp-for="Id" class="form-control"/> *@
        @*     <span asp-validation-for="Id" class="text-danger"></span> *@
        @* </div> *@
        <div class="form-group dropdown mb-2">
            <label asp-for="TransactionDto.Category" class="control-label">Category</label>
            <select asp-for="TransactionDto.Category" asp-items="@(new SelectList(categories, "Name", "Name"))" class="form-control dropdown-item rounded-2 px-3 py-2">
            </select>
            <span asp-validation-for="TransactionDto.Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TransactionDto.Date" class="control-label"></label>
            <input type="date" asp-for="TransactionDto.Date" class="form-control"/>
            <span asp-validation-for="TransactionDto.Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TransactionDto.Description" class="control-label"></label>
            <textarea asp-for="TransactionDto.Description" class="form-control" cols="40" rows="5" required></textarea>
            <span asp-validation-for="TransactionDto.Description" class="text-danger"></span>
        </div>
        <div class="form-group dropdown mb-2">
            <label asp-for="TransactionDto.Type" class="control-label">Type</label>
            <select asp-for="TransactionDto.Type" asp-items="@(new SelectList(types, "Name", "Name"))" class="form-control dropdown-item rounded-2 px-3 py-2">
            </select>
            <span asp-validation-for="TransactionDto.Type" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="TransactionDto.Amount" class="control-label"></label>
            <input asp-for="TransactionDto.Amount" class="form-control"/>
            <span asp-validation-for="TransactionDto.Amount" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <input type="submit" value="Create" class="btn"/>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}