@model PersonalFinanceTracker.ViewModels.SavingsCreateViewModel

@{
    ViewData["Title"] = "Create";
    var status = Model.Status;
}


<div class="d-flex flex-column align-items-start">
    <h1>Create</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="SavingsDto.Title" class="control-label"></label>
            <input asp-for="SavingsDto.Title" class="form-control" />
            <span asp-validation-for="SavingsDto.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SavingsDto.TargetAmount" class="control-label"></label>
            <input asp-for="SavingsDto.TargetAmount" class="form-control" />
            <span asp-validation-for="SavingsDto.TargetAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SavingsDto.CurrentAmount" class="control-label"></label>
            <input asp-for="SavingsDto.CurrentAmount" class="form-control" />
            <span asp-validation-for="SavingsDto.CurrentAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SavingsDto.Deadline" class="control-label"></label>
            <input asp-for="SavingsDto.Deadline" class="form-control" type="date" />
            <span asp-validation-for="SavingsDto.Deadline" class="text-danger"></span>
        </div>
        <div class="dropdown mb-2">
            <label asp-for="SavingsDto.Status" class="control-label">Category</label>
            <select asp-for="SavingsDto.Status" asp-items="@(new SelectList(status, "Name", "Name"))" class="dropdown-item rounded-2 px-3 py-2 valid">
            </select>
            <span asp-validation-for="SavingsDto.Status" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Create" class="btn"/>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}