@model Tuple<Savings, IEnumerable<SavingsStatus>>

@{
    ViewData["Title"] = "Edit";
    var status = Model.Item2;
}


<div class="d-flex flex-column align-items-start">
    <h1>Edit</h1>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item1.Id" />
        <div class="form-group mb-2">
            <label asp-for="Item1.UserId" class="control-label"></label>
            <input asp-for="Item1.UserId" class="form-control"/>
            <span asp-validation-for="Item1.UserId" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Item1.TargetAmount" class="control-label"></label>
            <input asp-for="Item1.TargetAmount" class="form-control"/>
            <span asp-validation-for="Item1.TargetAmount" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Item1.CurrentAmount" class="control-label"></label>
            <input asp-for="Item1.CurrentAmount" class="form-control" />
            <span asp-validation-for="Item1.CurrentAmount" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Item1.Deadline" class="control-label"></label>
            <input asp-for="Item1.Deadline" class="form-control" />
            <span asp-validation-for="Item1.Deadline" class="text-danger"></span>
        </div>
        <div class="dropdown mb-2">
            <label asp-for="Item1.Status" class="control-label">Category</label>
            <select asp-for="Item1.Status" asp-items="@(new SelectList(status, "Name", "Name"))" class="dropdown-item rounded-2 px-3 py-2 valid">
            </select>
            <span asp-validation-for="Item1.Status" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Save" class="btn"/>
        </div>
    </form>
    
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}